<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/library.css" />
    <title th:text="@{${partij.titel} + ' overzicht'}">Exemplaar overzicht</title>
</head>
<body>
    <h1><span th:text="${partij.titel}"/> - Voorbeeld</h1>
    <table>
        <tr>
            <div id="paginaTitel">
                <td>Titel</td>
                <td th:text="${partij.titel}"> </td>
            </div>
        </tr>
        <tr>
            <td>Artiest</td>
            <td th:text="${partij.artiest.naam}"></td>
        </tr>
        <tr>
            <td>Prijs transcriptie &euro;:</td>
            <td th:text="${partij.prijs}"></td>
        </tr>
    </table>
    <p>Voorbeeld van eerste pagina: </p>
    <p align="center">
        <img th:src="@{${'/img/' + partijTitel + '.jpg'}}" width=50% align=center alt="Voorbeeld van transcriptie"/>
    </p>
    <p>
        <a th:href="@{/partijen}">Overzicht van alle partijen</a>
    </p>


</body>
</html>